@import "uno.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes __un_qm {
    0% {
        box-shadow: inset 4px 4px #ff1e90, inset -4px -4px #ff1e90
    }
    100% {
        box-shadow: inset 8px 8px #3399ff, inset -8px -8px #3399ff
    }
}

.where, .\? {
    animation: __un_qm 0.5s ease-in-out alternate infinite;
}


@keyframes logo {
    0% {
        transform: scale(200);
    }
    100% {
        transform: scale(1);
    }
}

.logo {
    width: 30vw;
    animation: logo 1s ease-out;
}
