@import "uno.css";
@import "fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes __un_qm {
    0% {
        box-shadow: inset 4px 4px #ff1e90, inset -4px -4px #ff1e90
    }
    100% {
        box-shadow: inset 8px 8px #3399ff, inset -8px -8px #3399ff
    }
}

.where, .\? {
    animation: __un_qm 0.5s ease-in-out alternate infinite;
}


@keyframes logo {
    0% {
        transform: scale(200);
    }
    100% {
        transform: scale(1);
    }
}

.logo {
    width: 30vw;
    animation: logo 1s ease-out;
}


.fi-otp-input {
    text-transform: uppercase;
    font-weight: bold;
}

.fi-otp-input-container {
    gap: 1rem;
}

.fi-otp-input {
    @apply px-0 py-1.5;
}

/****************************************************
Styles for template 0000
****************************************************/
#template {
    @apply h-full bg-white;
}

#template section {
    @apply p-8 min-h-[728px] flex flex-col justify-center items-center;
}

#template section:nth-child(even) {
    @apply bg-gray-200;
}

#template h2 {
    @apply font-bold text-3xl mb-8 text-red-500;
}

#template h3 {
    @apply font-bold text-xl mb-2;
}

#template button, #template a {
    @apply border border-black px-6 py-3 mt-3;
}

/****************************************************
Styles for template 0001
****************************************************/
html {
    font-family: "Inter", sans-serif;
    text-align: center;
}

.bg-pattern {
    @apply bg-center bg-contain bg-repeat;
    background-image: url('../../public/img/background.webp');
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes scale {
    from {
        transform: scale(1);
    }

    50% {
        transform: scale(.98);
    }

    to {
        transform: scale(1);
    }
}

#circles {
    transform-origin: center;
    transition: all;
    animation: rotate 5s ease-in-out infinite;
}

#type {
    transform-origin: center;
    transition: all;
    animation: scale 3s ease-in-out infinite;
}

@keyframes orbit {
    from {
        transform: rotate(0deg) translateX(10px) rotate(0deg);
    }

    to {
        transform: rotate(-360deg) translateX(10px) rotate(360deg);
    }
}

.move {
    transform-origin: center;
    transition: all;
    animation: orbit 6s linear infinite;
}
